                        <label for="instructorList">Instructors:</label>
                        <div class="col" id="instructorList">
                            {{#each course.instructors}}
                            <div class="row border">
                                <div class="col-10 instructorId" id={{instructorId}}>{{{limitLength instructorName}}}</div>
                                <div class="col-2 deleteInstructor text-danger text-center"><span class="fas fa-minus-circle"></span></div>
                            </div>
                            {{/each}}
                        </div>
