        {{#each quizzes}}
        <div class="row">
          <div id="{{_id}}" class="quizId col-10">{{name}}</div>
          <div class="col-1"><div class="orderLower {{{hideIfEqual ../quizzesHighIndex @index null}}}"><i class="fa fa-caret-down" aria-hidden="true"></i></div></div>
          <div class="col-1"><div class="orderHigher {{{hideIfEqual 0 @index null}}}"><i class="fa fa-caret-up" aria-hidden="true"></i></div></div>
        </div>
        {{/each}}