                        <label>Questions:</label>
                        <ol id="questionList">
                            {{#each quiz.questions}}
                            <li class="question" id={{_id}}>{{question}}</li>
                            {{/each}}
                        </ol>