
                            
                            <div>
                                <label for="quizName">Edit Module:</label>
                                <select class="form-control" name="quizSelect">
                                {{#each quizzes}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                                </select>
                                
                            </div>
                            <small class="form-text text-muted">Select the module to edit</small>
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
