
                            
                            <div class="row">
                                <label>Module:</label>
                                <div class="col-12 pl-0">
                                    <select class="form-control" name="quizSelect">
                                    {{#each quizzes}}
                                        <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                    </select>
                                </div>
                                <div class="col-4 pl-0">
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                    
                                </div>
                                <small class="form-text text-muted ml-5">Select from list</small>
                            </div>
                            
                            
