
                            
                            <div class="form-group">
                                <label for="quizName">Select a Quiz:</label>
                                <select class="form-control" id="quizName">
                                {{#each quizzes}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                                </select>
                                <small id="helpId2" class="form-text text-muted">Select a Quiz</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
