
                            
                            <div class="form-group">
                                <label for="quizName">Course:</label>
                                <select class="form-control" name="courseSelect">
                                {{#each courses}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                                </select>
                                <small id="helpId2" class="form-text text-muted">Select Course</small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-std">Submit</button>
