
                                    <input type="hidden" name="id" value="{{_id}}">
                                    <div>
                                        <label for="username">Username:</label>
                                        <input type="text" id="username" name="username" value="{{username}}">
                                    </div>
                                    <div>
                                        <label for="firstname">First name:</label>
                                        <input type="text" id="firstname" name="firstname" value="{{firstname}}">
                                    </div>
                                    <div>
                                        <label for="surname">Last name:</label>
                                        <input type="text" id="surname" name="surname" value="{{surname}}">
                                    </div>
                                    <div>
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" id="password">
                                    </div>
                                    <div>
                                        <label for="confirm">Confirm:</label>
                                        <input type="password" name="confirm" id="confirm">
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary my-2" value="Register">Submit</button>
                                    </div>
