<!DOCTYPE html>
<html lang="en">
<head>

    <title>nortonQuiz Admin Interface</title>
    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar }}

        <div class="jumbotron jumbotron-fluid">
            <div id="adminInterface" class="container">
                <h1 class="display-3">Main Admin Interface</h1>

                <div class="row">
                    <div class="col-3">
                    <form id="newQuiz" method="post" action="/quiz">
                        <div class="form-group">
                            <label for="quizName">Add a quiz:</label>
                            <input type="text"
                                class="form-control" name="quizName" id="quizName" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">Enter Quiz Name</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </form>
                    </div>
                    <div id='selectQuizContainer' class="col-3">
                        {{> selectQuiz }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="text-primary" id="feedback">{{feedback}}</span>
                   </div>
                </div>
            </div>
        </div>

    </div>

    <script>
    
        document.getElementById('newQuiz').addEventListener('submit', (e) => {
            let url = "/admin";
            let data = { quizName: e.target.elements.quizName.value }
            handlePost(url, data, (response) => {
                if (/error/.test(response)) {
                    document.getElementById('feedback').innerHTML = response;
                } else {
                    document.getElementById('feedback').innerHTML = response;
                    document.getElementById('newQuiz').reset();
                    handleGet('/admin/quizzes', (response) => {
                        document.getElementById('selectQuizContainer').innerHTML = response;
                    })

                    // window.location.href = '/admin?feedback=Success';
                }
            });

            e.preventDefault();
        })

        document.getElementById('selectQuiz').addEventListener('submit', (e) => {
            let quizId = e.target.elements.sel1.value;
            let url = "/quizAdmin/" + quizId;
            window.location.href = url;
            e.preventDefault();
        })


    </script>

</body>
</html>