<!DOCTYPE html>
<html lang="en">
<head>

    <title>nortonQuiz Admin Interface</title>
    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar }}

        <div class="limit-mt jumbotron jumbotron-fluid">
            <div id="adminInterface" class="container">
                <h1 class="display-4">Main Admin Interface</h1>

                <div class="row">
                    <div class="col-3">
                    <form id="newQuiz" method="post" action="/quiz">
                        <div class="form-group">
                            <label for="quizName">Add a quiz:</label>
                            <input type="text"
                                class="form-control" name="quizName" id="quizName" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">Enter Quiz Name</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </form>
                    </div>
                    <div class="col-3">
                        <form id='selectQuiz' action="/quiz" method="get">
                            {{> selectQuiz }}
                        </form>
                    </div>
                    {{!-- <div class="col-6">
                        <form id='selectUser' action="/" method="get">
                            {{> selectUser }}
                        </form>
                        <form class="mt-4 d-none" id="userUpdateForm" action="/updateAccount" method="post">
                            {{> userUpdateForm }}
                            <div>
                                <button type="submit" class="btn btn-danger my-2" value="Delete">Delete</button>
                            </div>
                        </form>
                    </div> --}}
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="text-primary" id="feedback">{{feedback}}</span>
                   </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/viewScripts/adminScripts.js"></script>
    
</body>
</html>