<!DOCTYPE html>
<html lang="en">
<head>

    <title>quiZap Admin Interface</title>
    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar }}

        <div class="limit-mt jumbotron jumbotron-fluid">
            <div id="adminInterface" class="container">
                
                <div id='courseId' class='d-none'>{{course._id}}</div>
                <div class="row">
                    <div class="col-9">
                        <h1 class="display-4">{{course.name}}</h1>
                    </div>
                <div class="col-3 mt-4"><button id="deleteCourse" type="button" class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete Course</button></div>

                </div>
                <div class="row">
                    <div class="col-3">
                    <form id="newQuiz" method="post" action="/quiz">
                        <div class="form-group">
                            <label for="quizName">Add a quiz:</label>
                            <input type="text"
                                class="form-control" name="quizName" id="quizName" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">Enter Quiz Name</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </form>
                    </div>
                    <div class="col-3">
                        <form id='selectQuiz' action="/quiz" method="get">
                            {{> selectQuiz }}
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="text-primary" id="feedback">{{feedback}}</span>
                   </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/viewScripts/courseAdminScripts.js"></script>
    
</body>
</html>