<!DOCTYPE html>
<html lang="en">
<head>

    <title>David Andrew Norton</title>

    {{> headerStuff jQuery=true fontAwesome=false bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        <h2>{{ welcomeMessage }}<img width="100px" src="/public/favicon.ico" alt="CourseApp"></h2>


        <a href="/courseApp">Norton CourseApp</a>
    </div>

    <script>


    </script>

</body>
</html>