<!DOCTYPE html>
<html lang="en">
<head>

    <title>David Andrew Norton</title>

    {{> headerStuff jQuery=true fontAwesome=false bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        <h2>{{ welcomeMessage }}<img width="100px" src="/public/favicon.ico" alt="CourseApp"></h2>


        <a href="/courseApp">Norton CourseApp</a>
        <a href="http://davidandrewnorton.com:3001">Norton 3D Adventure</a>
        <a href="https://www.amazon.com/Watchful-One-Tree-Life-ebook/dp/B0B4B2NS2P/ref=sr_1_6?crid=24X4X1F5W777O&keywords=The+watchful+one&qid=1655679414&sprefix=the+watchful+on%2Caps%2C313&sr=8-6">The Watchful One and the Tree of Life</a>

    </div>

    <script>


    </script>

</body>
</html>