<!DOCTYPE html>
<html lang="en">
<head>

    <title>David Andrew Norton</title>

    {{> headerStuff jQuery=true fontAwesome=false bootStrap=true }}

</head>
<body>
    <div class="outerContainer">

        <h2>{{ welcomeMessage }}<img width="100px" src="/public/favicon.ico" alt="CourseApp"></h2>
        
        <a target="_blank" href="https://www.linkedin.com/in/davidandrewnorton/">LinkedIn Profile</a><br>
        
        <h4 class="pt-3">Coding Samples</h4>
        <a target="_blank" href="https://github.com/dnorton211153">GitHub Profile + Projects</a><br>
        <a target="_blank" href="/courseApp">Norton CourseApp (Legacy w/ Node backend)</a><br>
        <a target="_blank" href="https://davidandrewnorton.com">Norton CourseApp (GoLang+)</a><br> 
        <a target="_blank" href="http://davidandrewnorton.com:3001">Norton 3D Adventure</a><br>
        <a target="_blank" href="https://davidandrewnorton.com">GoLang REST api w/ Google Authentication</a><br>
        
	<h4 class="pt-3">AI/Machine Learning projects</h4>

 	<ul>
	    <li><a target="_blank" href="https://www.davidandrewnorton.com/ai/genetic.html">Genetic algorithm</a></li>
	    <li><a href="https://github.com/dnorton211153/aiml-1">Road-sign detection</a></li> 
		&amp; <a href="https://youtu.be/llop-weoDH8">5-minute YouTube overview</a><br>
            <li><a href="http://davidandrewnorton.com:8000/speedTest/">Speed prediction & object detection</a></li>
	</ul>

        <h4 class="pt-3">Writings, Artwork, AI</h4>
        <a target="_blank" href="https://www.amazon.com/Watchful-One-Tree-Life-ebook/dp/B0B4B2NS2P">The Watchful One and the Tree of Life</a><br>
        <a target="_blank" href="http://davidandrewnorton.com/public/watchfulOne/watchfulOne.html">Watchful One - AI impressions</a><br>
        <a target="_blank" href="https://16colo.rs/group/lapse">Lapse Productions (1994)</a><br>

        <h4 class="pt-3">Teaching</h4>
        <a target="_blank" href="http://davidandrewnorton.com/public/teachback/teachback.html">Teachback Lesson</a><br>

        {{!-- <h4>Music</h4>
        <a href="http://davidandrewnorton.com/public/music/music.html">A few tunes from Kane County</a><br> --}}

        {{!-- <h4>Other</h4> --}}
        {{!-- <a href="http://davidandrewnorton.com/public/Desires2.pdf">Feelings</a><br> --}}
    </div>

    <script>


    </script>

</body>
</html>