<!DOCTYPE html>
<html lang="en">
<head>

    <title>David Andrew Norton</title>

    {{> headerStuff jQuery=true fontAwesome=false bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        <h2>{{ welcomeMessage }}<img width="100px" src="/public/favicon.ico" alt="CourseApp"></h2>
        

        <a href="/courseApp">Norton CourseApp</a><br>
        <a href="http://davidandrewnorton.com:3001">Norton 3D Adventure</a><br>
        <a href="https://www.amazon.com/Watchful-One-Tree-Life-ebook/dp/B0B4B2NS2P">The Watchful One and the Tree of Life</a><br>
        <a href="https://www.linkedin.com/in/davidandrewnorton/">LinkedIn Profile</a><br>
        <a href="https://github.com/dnorton211153">GitHub Profile</a><br>
        
    </div>

    <script>


    </script>

</body>
</html>