<!DOCTYPE html>
<html lang="en">
<head>

    <title>quiZap Main Interface</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar mainActive='active' }}

        {{#if showWelcome}}
            <div class="limit-mt jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Welcome to quiZap</h1>
                    <p class="lead">Hello {{ user.firstname }}!  Select a Course from the Course tab</p>
                    <hr class="my-2">
                    <p>Copyright <i class="fas fa-copyright"></i> Norton 2021</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/courseSelect" role="button">Select a Course</a>
                    </p>
                </div>
            </div>
        {{^}}
        {{/if}}

    </div>

</body>
</html>