<!DOCTYPE html>
<html lang="en">
<head>

    <title>nortonQuiz Quiz Interface</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true react=true }}

</head>
<body>

    <div class="outerContainer">
        {{> navbar quizActive='active' }}
        
        <div id="quizReactApp"></div>
    </div>

    <script type="text/babel" src="/viewScripts/quizScripts_react.js"></script>
</body>
</html>