<!DOCTYPE html>
<html lang="en">
<head>

    <title>nortonQuiz Quiz Interface</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">

        {{> navbar quizActive='active' }}

        <main id="quizMain">
            <div class="limit-mt jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Main Quiz Interface</h1>
                    
                    <div class="col-3">
                        <form id='selectQuiz' action="/quiz" method="get">
                            {{> selectQuiz }}                            
                       </form>
                    </div>

                </div>
            </div>
        </main>

    </div>

    <script src="/viewScripts/quizScripts.js"></script>

</body>
</html>