<!DOCTYPE html>
<html lang="en">
<head>

    <title>nortonQuiz Quiz Interface</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>

    <div class="outerContainer">
        {{> navbar quizActive='active' }}

        <div class="limit-mt jumbotron jumbotron-fluid">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <span class="text-primary" id="feedback">{{feedback}} </span>
                        <span class="text-primary d-none" id="reviewQuiz">{{#if allowTestReviews}}Click here to review!{{/if}}</span>
                    </div>
                </div>

                {{!-- quizMain innerHTML replaced by quizActive during runtime --}}
                <main id="quizMain">
                    
                    <div class="limit-mt jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Main Quiz Interface</h1>
                            
                            <div class="col-3">
                                <form id='selectQuiz' action="/quiz" method="get">
                                    {{> selectQuiz }}                            
                            </form>
                            </div>

                        </div>
                    </div>

                </main>
            </div>
        </div>
    </div>

    <script src="/viewScripts/quizScripts.js"></script>

</body>
</html>