<!DOCTYPE html>
<html lang="en">
<head>

    <title>quiZap Quiz Interface</title>

    {{> headerStuff jQuery=true fontAwesome=true bootStrap=true }}

</head>
<body>
    <input type="hidden" id="userId" value="{{userId}}">
    <div class="outerContainer">
        {{> navbar quizActive='active' }}
        <div class="limit-mt jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">{{course.name}}</h1>
                <div class="col-3">
                    <form id='selectQuiz'>
                        {{> selectQuiz}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('selectQuiz').addEventListener('submit', (e) => {
            if (confirm("Are you ready to start the quiz?")) {

                let userId = document.getElementById('userId').value
                let quizId = e.target.elements.quizSelect.value;
                localStorage.removeItem(userId + quizId);
                window.location.href = '/quizActive/' + quizId;

            }
            e.preventDefault();
        })
    </script>
</body>
</html>