        <div id="navbarPlaceholder">{{>navbar}}</div>
        <div id="messageBox" class="m-auto text-center justify-content-around d-none">
                <div>{{message}}</div>
                <div>
                        <button id="btnDismissMessage">OK</button>
                </div>
        </div>