<div>
  <table>
    {{#each this}}
    <tr>
        <td>{{@key}}</td>
        <td>{{this}}</td>
        <td><button>Drop</button></td>
        <td><button>Use</button></td>
        <td><button>Equip</button></td>
    </tr>
    {{/each}}
  </table>
</div>
