        <div class="row container-fluid mt-3 ml-auto mr-auto">
          <!-- Placeholder for userDetails -->
          <div id="userDetailsPlaceholder" class="col-5"></div>
          <!-- Placeholder for userMaster -->
          <div id="userMasterPlaceholder" class="col-7"></div>
            
        </div>